*{
    padding: 0;
    margin: 0;
 
   --aside:#285656;
}

aside{
  background-color:   var(--aside);
  width: 200px;
  margin: 0;
  color: white;
  font-weight: bolder;
  text-align: center;
  height: 100%;
  position: initial;
  display: flex;
  transition: 1s ease;
  flex-direction: column;
  align-content: flex-start;
  align-items: baseline;
  justify-content: flex-start;
}
ul{

  
    width: 100%;
    text-align: center;
    padding-left: 5px;

}
ol{

 
  width: 100%;
  text-align: center;
  padding: 0;
  /* border: 2px black dashed; */
  margin-top:5px;

}

.open_cart{
  position: absolute;
  left: 0%;
  background: #293131;
  border: none;
  transform: scale(0.8);
  margin: 0;
  }
  .open_cart:hover{
    background: lightgray;
    
  }
   
  .open_cart_1,.open_cart_2,.open_cart_3{
    height: 4px;
    width: 25px;
    margin:5px 2px ;
   transition: 0.4s ease;
  background: white;
   
  }
  /* img {

 } */
   #croix{
    width: 50px; 
    margin-bottom: 20px;


   }

   .bouton_croix{
    float:left;
    background-color:   var(--aside);
    margin-right: 20px;

    border: none;
    
   
   }
   
 
   .buttonreset{
   border:none;
   }