.pompe {
    background-size: cover;
    height: 180px;
}

.Haut_du_corp_exo {
    margin: auto;

}

.Haut_du_corp_exo_tableau {
    margin: auto;

}


label {
    float: none
}



.rep_div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
}

.button_Hdc,
.button_Bdc {
    width: 30%;
    margin: auto;
    margin-top: 10%;
    height: 150px;
    border-radius: 5%;

}

.choix_button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.main_button_choix {
    background-color: #457790;
    width: 1016px;
    height: 600px;
    margin: auto;
    margin-top: 150px;
    border-radius: 2%;
    padding: 25px;

}

.link_kcal {
    margin-top: 200px;
}

.relink {
    margin-top: 100px;
}

@media (max-width: 1050px) {
    .main_button_choix {

        width: 600px;
        height: 400px;


    }

    .button_Hdc,
    .button_Bdc {


        width: 35%;
        height: 90px;
        margin: auto;
        margin-top: 25px;
    }

}

@media (max-width: 600px) {
    .main_button_choix {

        width: 90%;
        height: 350px;

        padding: 5px;
    }

    .button_Hdc,
    .button_Bdc {

        margin-top: 10px;
        width: 80%;
        height: 80px;
    }

    .main_button_choix h2 {
        font-size: 17px;
        margin-top: 5px;
    }
}