.pompe {
    background-size: cover;
    height: 180px;
}

.Haut_du_corp_exo {
    margin: auto;

}

.Haut_du_corp_exo_tableau {
    margin: auto;

}


label {
    float: none
}



.rep_div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
}

.button_Hdc,
.button_Bdc {
    width: 40%;
    margin: auto;
    margin-top: 10%;
    height: 200px;
}

.choix_button {
    display: flex;
}

.main_button_choix {
    background-color: #457790;
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 2%;
    padding: 25px;
}

.link_kcal {
    margin-top: 200px;
}


@media (min-width: 1050px) {

    .Haut_du_corp_exo_tableau {
        width: 1040px;
    }

}

@media (max-width: 900px) {
    .main_button_choix {

        width: 500px;
        height: 300px;
        margin-top: 50px;

    }

    .button_Hdc,
    .button_Bdc {



        height: 115px;
    }

}

@media (max-width: 500px) {
    .main_button_choix {

        width: 300px;
        height: 200px;
        margin-top: 25px;
        padding: 5px;
    }

    .button_Hdc,
    .button_Bdc {

        margin-top: 10px;
        width: 45%;
        height: 115px;
    }

    .main_button_choix h2 {
        font-size: 17px;
        margin-top: 5px;
    }
}