

.logo{
    height: 40px;
	width: 90px;
}
nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}
.menue{
    text-decoration: none;
    font-size: 1.2em;
    
}
a.menue {
    margin-right: 50px;
}
main{

    text-align: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-bottom: 2px solid;
    align-items: center;
}
.eeeezzze{

margin-right: 20px;
text-align: center;
}
.eeeezzz{
    display: flex;
}