.barre_de_recherche{

    font-size: 26px;
    border-width: 0px;
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 8px;

    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.Selecteur_Pates{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
    width:50%;
}
label {
    margin-right: 20px;
}


@media (max-width: 600px) { 

    .Selecteur_Pates{
    width:100%;
}

}