



.items{
  width: 240px;
}

.pasta_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;



}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.selecteur.pate {
  display: flex;
  flex-direction: column;
}
.parent {
  display: grid;
  grid-template-columns: 0.7fr repeat(4, 1fr);
  grid-template-rows: 0.4fr repeat(3, 1fr) 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
  .div1 { grid-area: 1 / 1 / 5 / 2;
   }
  .div2 { grid-area: 1 / 2 / 2 / 6; }
  .div3 { grid-area: 2 / 2 / 5 / 6; }
  .div4 { grid-area: 5 / 1 / 6 / 6; }
  body{
    background-color: black;
  }