form{
    width: 400px;
    height: 400px;
    margin:auto;
    margin-top: 40px;
   
    background-color: rgb(67 131 161);

    color:white;
   border-radius:25px ;
   padding: 30px;
}
label{
    float: left;
    margin-bottom: 5px;
}
.form-group{
    margin-bottom: 5px;
}
.custom-control-label{
    float:none;
}
.btnn{
    width: 100%;
    background-color: rgb(67 131 161);
    color:white;
    border: 2px solid;
    
}
.btnn:hover{
    background-color:white;
    color: rgb(67 131 161);
   
}